.auth_form {
    top: 180px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 410px;
    border-radius: 8px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
}