* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    text-align: inherit;
    color: inherit;
}

html {
    background-color: #e9eaed;
}

.page_center {
    position: relative;
    top: 40px;
}

#grid_layout {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    width: 80%;

    padding-right: .2857em;
    padding-left: .2857em;

    box-sizing: border-box;
    display: block;
    float: none;
    line-height: 14px;
    position: static;
    z-index: auto;
}

.grid_item_card {
    padding: 1em;
    margin: 1em;

    display: inline-block;
    vertical-align: top;
    width: 250px;

    border-radius: 8px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
}

.grid_item_card:hover {
    box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.22) inset;
}

.grid_item_card:active {
    box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.33) inset;
}

.hero_image {
    /*background-size: cover;*/
    width: 100%;
    height: 100%;
}

.card_name, .hero_desc > * {
    font-weight: bold;
}

.hero_desc > label {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

input {
    background-color: inherit;
}

.header_field {
    top: 0;
    position: fixed;
    display: block;
    width: 100%;
    height: 70px;
    background-color: #35373b;

    z-index: 1;
}

.left_btn_group, .sort_btns_group {
    display: inline-block;
    float: left;
}

.import_export_group {
    display: inline-block;
    float: right;
    text-align: right;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 47px;

}

.button {
    display: inline-block;

    margin: 10px;
    padding: 13px;
    color: white;
    font-weight: bold;

    border: 3px solid;
    border-radius: 8px;
}

.button:hover {
    background-color: #636569;
}

.choosed_for_delete {
    box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.33) inset;
}

.hide_animation {
    opacity: 0.4;
    transition: opacity 0.6s ease;
    pointer-events: none;
    z-index: inherit;
}

/*Hidden*/
.delete_mode, .change_mode, .add_mode, .page_center_addhero {
    display: none;
}

.header_content {
    width: 70%;
    height: 100%;
    margin: auto;
    text-align: left;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

/*.header_content > *, .card_name, .head_change_pencil, .hero_image, .hero_desc > *, .new_hero_card,*/
/*.new_hero_card > * {*/
    /*user-select: none;*/
    /*-moz-user-select: none;*/
    /*-webkit-user-select: none;*/
    /*-ms-user-select: none;*/
/*}*/

* {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.white_text {
    color: white;
    font-weight: bold;
}

.modal_dialog {
    background-color: #35373b;

    padding: 10px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    position: fixed;
    /*top: 50%;*/
    /*left: 50%;*/
    z-index: 1;

    border: 3px solid black;
    border-radius: 8px;

    color: white;
    font-weight: bold;
}

.editable_input {
    background-color: white;
    border: 1px solid black;
}

.hero_desc > label {
    padding: 0;
    height: 25px;
    margin-bottom: 3px;
    display: block;
}

.hero_desc > label > * {
    display: inline;
}

.hero_desc > label > strong {
    width: 60px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.hero_desc > label > input {
    width: 150px;
    height: 25px;
    vertical-align: middle;
    float: right;

}

.is_alive_input {
    background-color: white;
}

#new_hero_card:hover {
    display: inline-block;
    margin: 16px;
    height: 406px;
    width: 250px;

    border-radius: 8px;
    opacity: 1;

    transition: background-color 0.4s ease-in;
    /*transition: opacity 0.4s ease-in;*/

    background-color: #35373b70;
    box-shadow: 4px 4px 18px 0 rgba(0, 0, 0, 0.11);
}

#new_hero_card {
    display: inline-block;
    margin: 16px;
    height: 406px;
    width: 250px;

    opacity: 0.8;

    border-radius: 8px;
    box-shadow: 4px 4px 18px 0 rgba(0, 0, 0, 0.11);

}

#new_hero_card_image {

    height: 406px;
    width: 250px;
    z-index: 1;
}

.card_head {
    display: block;
    height: 20px;
}

.card_name {
    display: inline-block;
    font-size: x-large;
    float: left;
}

.head_image {
    display: inline-block;

    width: 20px;
    height: 20px;
    float: right;
}

.page_center_addhero {
    position: relative;
    top: 55px;
    white-space: nowrap;
}

.new_hero {
    display: inline-block;
    white-space: normal;

    margin-top: 50px;
    margin-left: 275px;
    margin-right: 20px;

    vertical-align: top;
    text-align: center;
    width: 550px;
    height: 750px;

    border-radius: 8px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
}

.add_inputs {
    display: block;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    border: black 3px solid;
    border-radius: 10px;
    font-size: x-large;

    width: 80%;
}

#check_box_place {
    text-align: center;
}

#add_param_checkbox {
    width: 250px;
}

#fileloader {
    display: block;
}

.adding_messages {
    display: inline-block;
    margin-top: 50px;


    vertical-align: top;
    text-align: center;
    width: 350px;
    height: auto;

    border-radius: 8px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
}

#message, #message_title {
    margin-top: 20px;
    display: block;
    white-space: pre-line;
}

#hero_logo_text {
    color: #767676;
}

.add_inputs > strong {
    display: flex;
    justify-content: center;
}

.search_field {
    padding: 12px;
    float: left;
}