.overturned {
    perspective: 600px;
}

.grid_item_card {
    margin: 1em;
    display: inline-block;
    vertical-align: top;
    width: 250px;
    height: 419px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;


}

.flipper {
    transform-style: preserve-3d;
    transform-origin: center;
    transition: transform 0.8s;
}

.flipper.is_flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.front, .back {
    position: absolute;
    padding: 1em;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);

    text-align: center;
    font-weight: bold;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.flip {
    transform: rotateY(-180deg);
}

.front {
    position: absolute;
}

.back_header {
    cursor: pointer;
}

.card_head {
    display: block;
    height: 20px;
    cursor: pointer;

}

.card_name {
    display: inline-block;
    font-size: x-large;
    float: left;
}

.head_image {
    display: inline-block;

    width: 20px;
    height: 20px;
    float: right;
}

.hero_desc > label {
    padding: 0;
    height: 25px;
    margin-bottom: 3px;
    display: block;
}

.hero_desc > label > strong {
    display: inline;

    width: 60px;
    height: 25px;
    padding-top: 5px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.hero_desc > label > input {
    width: 150px;
    height: 25px;
    vertical-align: middle;
    float: right;
}

.hero_image {
    /*-webkit-user-drag: none;*/
    width: 218px;
    height: 218px;
    padding: 8px;
    z-index: 1;
}

.card_name, .hero_desc > * {
    font-weight: bold;
}

.hero_desc > label {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.editable_input {
    background-color: white;
    border: 1px solid black;
}

#new_hero_card:hover {
    opacity: 1;

    transition: background-color 0.4s ease-in;
    /*transition: opacity 0.4s ease-in;*/

    background-color: white;
    box-shadow: 4px 4px 18px 0 rgba(0, 0, 0, 0.11);
}

#new_hero_card {
    display: inline-block;
    margin: 16px;
    height: 419px;
    width: 250px;

    text-align: center;

    opacity: 0.8;

    background-color: #888b8f;
    border-radius: 8px;
    box-shadow: 4px 4px 18px 0 rgba(0, 0, 0, 0.11);
}

#new_card_image, #trash_card_image {
    position: relative;
    top: 18%;
    font-size: 250px;
    color: #46484d;
    z-index: 1;
}

/* This styles used for Drag&Drop deleting*/

.draggable {
}

.droppable {
}

.choosed_for_delete {
}

.trash {
    display: inline-block;
    margin: 1em;
    vertical-align: top;
    width: 250px;
    height: 419px;
}

.trash > img {
    width: 218px;
    height: 218px;
}