* {
    box-sizing: border-box;

    margin: 0;
    border: 0;
    outline: 0;

    font: inherit;

    vertical-align: baseline;
    text-align: inherit;
    color: inherit;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html {
    background-color: #e9eaed;
}

input {
    background-color: inherit;
}

.header_field {
    top: 0;
    position: fixed;
    display: block;
    width: 100%;
    height: 70px;
    background-color: #35373b;

    z-index: 9999;
}

.left_btn_group, .sort_btns_group {
    display: inline-block;
    float: left;
}

.import_export_group {
    display: inline-block;
    float: right;
    text-align: right;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 47px;
}

.search_field {
    padding: 12px;
    float: left;
}

/*Hidden*/
.delete_mode, .change_mode, .add_mode, .page_center_addhero {
    display: none;
}

.delete_mode {
    padding-top: 13px;
    font-size: xx-large;
}

.header_content {
    width: 70%;
    height: 100%;
    margin: auto;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

.page_center {
    position: relative;
    top: 40px;
}

#grid {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    width: 80%;

    padding-right: .2857em;
    padding-left: .2857em;

    box-sizing: border-box;
    display: block;
    float: none;
    line-height: 14px;
    position: static;
    z-index: auto;
}


.button {
    display: inline-block;

    margin: 10px;
    padding: 13px;
    color: white;
    font-weight: bold;

    border: 3px solid;
    border-radius: 8px;
}

.button:hover {
    background-color: #636569;
}

.hide_animation {
    opacity: 0.4;
    transition: opacity 0.6s ease;
    pointer-events: none;
    z-index: inherit;
}

.white_text {
    color: white;
    font-weight: bold;
}

.modal_dialog {
    background-color: #35373b;

    padding: 10px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    position: fixed;
    z-index: 1;

    border: 3px solid black;
    border-radius: 8px;

    color: white;
    font-weight: bold;
}

.is_alive_input {
    background-color: white;
}



/*#new_hero_card_image {*/
    /*height: 419px;*/
    /*width: 250px;*/
    /*z-index: 1;*/
/*}*/

.new_hero {
    display: inline-block;
    white-space: normal;

    margin-top: 50px;
    margin-left: 275px;
    margin-right: 20px;

    vertical-align: top;
    text-align: center;
    width: 550px;
    height: 750px;

    border-radius: 8px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
}

.page_center_addhero {
    position: relative;
    top: 55px;
    white-space: nowrap;
}

.add_inputs {
    display: block;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    border: black 3px solid;
    border-radius: 10px;
    font-size: x-large;

    width: 80%;
}

.add_inputs > strong {
    display: flex;
    justify-content: center;
}

#check_box_place {
    text-align: center;
}

#add_param_checkbox {
    width: 250px;
}

#fileloader {
    display: block;
}

.adding_messages {
    display: inline-block;
    margin-top: 50px;

    vertical-align: top;
    text-align: center;
    width: 350px;
    height: auto;

    border-radius: 8px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
    background-color: white;
}

#message, #message_title {
    margin-top: 20px;
    display: block;
    white-space: pre-line;
}

#hero_logo_text {
    color: #767676;
}


