<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--TODO check this properties on release-->
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:sqlite/superheroes.db/</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="show_sql">false</property>
        <property name="hbm2ddl.auto">validate</property>

        <mapping class="dbService.entity.SuperheroesEntitySQLite"/>
        <mapping resource="SuperheroesEntitySQLite.hbm.xml"/>

    </session-factory>
</hibernate-configuration>